.button {
    border: 5px solid var(--blue-light);
    background: var(--blue);
    color: #ffffff;
    padding: .5rem 4rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2rem;
    font-family: var(--font-family);
    transition: transform, box-shadow 100ms ease-in-out;
    -webkit-user-select: none;
    user-select: none;
}

.button__animate:hover {
    transform: translateY(-.3rem);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
}