.wrapper {
    position: relative;
}

.wrapper h3 {
    padding: 0 0 .5rem .5rem;
    top: -2rem;
    left: 0;
    position: absolute;
}

.wrapper__inner {
    width: auto;
    height: auto;
    background: var(--yellow-light);
    border: 5px solid var(--yellow);
    border-radius: 1rem;
}